# Importing movie data and first glimpsse

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# import data sets (column names are based on readme file of data set publisher)
character_metadata = pd.read_csv('./data/character.metadata.tsv', sep='\t', names=[
    'Wikipedia movie ID',
    'Freebase movie ID',
    'Movie release date',
    'Character name',
    'Actor date of birth',
    'Actor gender',
    'Actor height (in meters)',
    'Actor ethnicity (Freebase ID)',
    'Actor name',
    'Actor age at movie release',
    'Freebase character/actor map ID',
    'Freebase character ID',
    'Freebase actor ID',
])
movie_metadata = pd.read_csv('./data/movie.metadata.tsv', sep='\t', names=[
    'Wikipedia movie ID', 
    'Freebase movie ID',
    'Movie name',
    'Movie release date',
    'Movie box office revenue',
    'Movie runtime',
    'Movie languages (Freebase ID:name tuples)',
    'Movie countries (Freebase ID:name tuples)',
    'Movie genres (Freebase ID:name tuples)'
])
name_cluster = pd.read_csv('./data/name.clusters.txt', sep='\t', names=['Name', 'Freebase ID']) # maybe wrong column names?
plot_summaries = pd.read_csv('./data/plot_summaries.txt', sep='\t', names=['Wikipedia movie ID', 'Summary'])
tvtropes = pd.read_csv('./data/tvtropes.clusters.txt', sep='\t', names=['Type', 'Freebase character/actor map ID']) # maybe wrong column names?

# variableto be able to iterate over all data sets
data_sets = [
    {'name' : 'character_metadata', 'data' : character_metadata},
    {'name' : 'movie_metadata', 'data' : movie_metadata}, 
    {'name' : 'name_cluster', 'data' : name_cluster},
    {'name' : 'plot_summaries', 'data' : plot_summaries},
    {'name' : 'tvtropes_cluster', 'data' : tvtropes}
]

In [42]:
# first glimpse of each data set and soome basic stats
for data_set in data_sets:
    print('data set:', data_set['name'])
    print('shape:', data_set['data'].shape)
    print('first five rows:\n', data_set['data'].head())
    print('description:\n', data_set['data'].describe(include='all'))
    print('\n\n')

data set: character_metadata
shape: (450669, 13)
first five rows:
    Wikipedia movie ID Freebase movie ID Movie release date  \
0              975900         /m/03vyhn         2001-08-24
1              975900         /m/03vyhn         2001-08-24
2              975900         /m/03vyhn         2001-08-24
3              975900         /m/03vyhn         2001-08-24
4              975900         /m/03vyhn         2001-08-24

               Character name Actor date of birth Actor gender  \
0                    Akooshay          1958-08-26            F
1  Lieutenant Melanie Ballard          1974-08-15            F
2         Desolation Williams          1969-06-15            M
3          Sgt Jericho Butler          1967-09-12            M
4             Bashira Kincaid          1977-09-25            F

   Actor height (in meters) Actor ethnicity (Freebase ID)          Actor name  \
0                     1.620                           NaN      Wanda De Jesus
1                     1.780                    /m/044038p  Natasha Henstridge
2                     1.727                       /m/0x67            Ice Cube
3                     1.750                           NaN       Jason Statham
4                     1.650                           NaN         Clea DuVall

   Actor age at movie release Freebase character/actor map ID  \
0                        42.0                      /m/0bgchxw
1                        27.0                       /m/0jys3m
2                        32.0                       /m/0jys3g
3                        33.0                      /m/02vchl6
4                        23.0                      /m/02vbb3r

  Freebase character ID Freebase actor ID
0            /m/0bgcj3x        /m/03wcfv7
1            /m/0bgchn4         /m/0346l4
2            /m/0bgchn_        /m/01vw26l
3            /m/0bgchnq         /m/034hyc
4            /m/0bgchp9         /m/01y9xg
description:
         Wikipedia movie ID Freebase movie ID Movie release date  \
count         4.506690e+05            450669             440674
unique                 NaN             64330              18476
top                    NaN        /m/0cc8620               2008
freq                   NaN               115               5453
mean          1.396975e+07               NaN                NaN
std           1.079662e+07               NaN                NaN
min           3.300000e+02               NaN                NaN
25%           3.759292e+06               NaN                NaN
50%           1.189065e+07               NaN                NaN
75%           2.366501e+07               NaN                NaN
max           3.750192e+07               NaN                NaN

       Character name Actor date of birth Actor gender  \
count          192794              344524       405060
unique         126629               29494            2
top            Doctor          1908-05-30            M
freq              198                 791       270257
mean              NaN                 NaN          NaN
std               NaN                 NaN          NaN
min               NaN                 NaN          NaN
25%               NaN                 NaN          NaN
50%               NaN                 NaN          NaN
75%               NaN                 NaN          NaN
max               NaN                 NaN          NaN

        Actor height (in meters) Actor ethnicity (Freebase ID) Actor name  \
count              154824.000000                        106058     449441
unique                       NaN                           479     134078
top                          NaN                    /m/0dryh9k  Mel Blanc
freq                         NaN                         16351        791
mean                    1.788893                           NaN        NaN
std                     4.379940                           NaN        NaN
min                     0.610000                           NaN        NaN
25%                     1.676400                           NaN        NaN
50%                     1.750000                           NaN        NaN
75%                     1.830000                           NaN        NaN
max                   510.000000                           NaN        NaN

        Actor age at movie release Freebase character/actor map ID  \
count                292556.000000                          450669
unique                         NaN                          450669
top                            NaN                      /m/0bgchxw
freq                           NaN                               1
mean                     37.788523                             NaN
std                      20.587870                             NaN
min                   -7896.000000                             NaN
25%                      28.000000                             NaN
50%                      36.000000                             NaN
75%                      47.000000                             NaN
max                     103.000000                             NaN

       Freebase character ID Freebase actor ID
count                 192804            449854
unique                183435            135760
top               /m/0h577m2          /m/0c5vh
freq                     146               791
mean                     NaN               NaN
std                      NaN               NaN
min                      NaN               NaN
25%                      NaN               NaN
50%                      NaN               NaN
75%                      NaN               NaN
max                      NaN               NaN



data set: movie_metadata
shape: (81741, 9)
first five rows:
    Wikipedia movie ID Freebase movie ID  \
0              975900         /m/03vyhn
1             3196793         /m/08yl5d
2            28463795        /m/0crgdbh
3             9363483        /m/0285_cd
4              261236         /m/01mrr1

                                          Movie name Movie release date  \
0                                     Ghosts of Mars         2001-08-24
1  Getting Away with Murder: The JonBenét Ramsey ...         2000-02-16
2                                        Brun bitter               1988
3                                   White Of The Eye               1987
4                                  A Woman in Flames               1983

   Movie box office revenue  Movie runtime  \
0                14010832.0           98.0
1                       NaN           95.0
2                       NaN           83.0
3                       NaN          110.0
4                       NaN          106.0

  Movie languages (Freebase ID:name tuples)  \
0        {"/m/02h40lc": "English Language"}
1        {"/m/02h40lc": "English Language"}
2        {"/m/05f_3": "Norwegian Language"}
3        {"/m/02h40lc": "English Language"}
4         {"/m/04306rv": "German Language"}

   Movie countries (Freebase ID:name tuples)  \
0  {"/m/09c7w0": "United States of America"}
1  {"/m/09c7w0": "United States of America"}
2                     {"/m/05b4w": "Norway"}
3             {"/m/07ssc": "United Kingdom"}
4                    {"/m/0345h": "Germany"}

              Movie genres (Freebase ID:name tuples)
0  {"/m/01jfsb": "Thriller", "/m/06n90": "Science...
1  {"/m/02n4kr": "Mystery", "/m/03bxz7": "Biograp...
2  {"/m/0lsxr": "Crime Fiction", "/m/07s9rl0": "D...
3  {"/m/01jfsb": "Thriller", "/m/0glj9q": "Erotic...
4                            {"/m/07s9rl0": "Drama"}
description:
         Wikipedia movie ID Freebase movie ID           Movie name  \
count         8.174100e+04             81741                81741
unique                 NaN             81741                75478
top                    NaN         /m/03vyhn  Alice in Wonderland
freq                   NaN                 1                   17
mean          1.740784e+07               NaN                  NaN
std           1.098791e+07               NaN                  NaN
min           3.300000e+02               NaN                  NaN
25%           7.323695e+06               NaN                  NaN
50%           1.777899e+07               NaN                  NaN
75%           2.715573e+07               NaN                  NaN
max           3.750192e+07               NaN                  NaN

       Movie release date  Movie box office revenue  Movie runtime  \
count               74839              8.401000e+03   6.129100e+04
unique              20389                       NaN            NaN
top                  2006                       NaN            NaN
freq                 1011                       NaN            NaN
mean                  NaN              4.799363e+07   1.118192e+02
std                   NaN              1.121753e+08   4.360070e+03
min                   NaN              1.000000e+04   0.000000e+00
25%                   NaN              2.083193e+06   8.100000e+01
50%                   NaN              1.063969e+07   9.300000e+01
75%                   NaN              4.071696e+07   1.060000e+02
max                   NaN              2.782275e+09   1.079281e+06

       Movie languages (Freebase ID:name tuples)  \
count                                      81741
unique                                      1817
top           {"/m/02h40lc": "English Language"}
freq                                       33748
mean                                         NaN
std                                          NaN
min                                          NaN
25%                                          NaN
50%                                          NaN
75%                                          NaN
max                                          NaN

        Movie countries (Freebase ID:name tuples)  \
count                                       81741
unique                                       2124
top     {"/m/09c7w0": "United States of America"}
freq                                        30300
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

       Movie genres (Freebase ID:name tuples)
count                                   81741
unique                                  23817
top                   {"/m/07s9rl0": "Drama"}
freq                                     6851
mean                                      NaN
std                                       NaN
min                                       NaN
25%                                       NaN
50%                                       NaN
75%                                       NaN
max                                       NaN



data set: name_cluster
shape: (2666, 2)
first five rows:
             Name Freebase ID
0  Stuart Little   /m/0k3w9c
1  Stuart Little   /m/0k3wcx
2  Stuart Little   /m/0k3wbn
3       John Doe   /m/0jyg35
4       John Doe   /m/0k2_zn
description:
               Name Freebase ID
count         2666        2666
unique         970        2661
top     Daffy Duck  /m/0gcy23_
freq            42           2



data set: plot_summaries
shape: (42303, 2)
first five rows:
    Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...
description:
         Wikipedia movie ID                                            Summary
count         4.230300e+04                                              42303
unique                 NaN                                              42295
top                    NaN  A woman is thrown out of her home by her jealo...
freq                   NaN                                                  5
mean          1.497051e+07                                                NaN
std           1.111994e+07                                                NaN
min           3.300000e+02                                                NaN
25%           4.565802e+06                                                NaN
50%           1.284591e+07                                                NaN
75%           2.485168e+07                                                NaN
max           3.750192e+07                                                NaN



data set: tvtropes_cluster
shape: (501, 2)
first five rows:
                       Type                    Freebase character/actor map ID
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...
description:
                      Type                    Freebase character/actor map ID
count                 501                                                501
unique                 72                                                447
top     crazy_jealous_guy  {"char": "Captain Jack Sparrow", "movie": "Pir...
freq                   25                                                  5

# Pre-processsing

In [43]:
# standardizing release date columns so that is only showing the year (essential since many entries only reveal the year and some a complete date)
movie_metadata['Movie release date'] = movie_metadata['Movie release date'].str.slice(0, 4)

# NaNs values
print('percentage of NaNs in "Movie release date" column:', movie_metadata['Movie release date'].isna().sum()/movie_metadata['Movie release date'].size)
movie_metadata.head()

percentage of NaNs in "Movie release date" column: 0.08443743042047443

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

# Analysis of "Movie release date"

In [44]:
# basic stats about movie release year column
movie_metadata['Movie release date'].describe(include='all')

# visualise amount of movies per year
movie_metadata_release_date_analysis = movie_metadata.dropna(subset=['Movie release date']) # erase rows with NaNs
movie_metadata_release_date_analysis['Movie release date'] = movie_metadata_release_date_analysis['Movie release date'].astype(int) #essential for plotting
print('oldest movie(s) from:', movie_metadata_release_date_analysis['Movie release date'].min())
print('newest movie(s) from:', movie_metadata_release_date_analysis['Movie release date'].max())

boxplot_movies_over_time = movie_metadata_release_date_analysis.boxplot(column='Movie release date')
movies_per_year = movie_metadata_release_date_analysis.hist(column='Movie release date')
print('histogram', movies_per_year)
print('boxplot', boxplot_movies_over_time) #--> reveals faulty values due to existance of extreme outliers

oldest movie(s) from: 1010
newest movie(s) from: 2016
histogram [[<AxesSubplot: title={'center': 'Movie release date'}>]]
boxplot AxesSubplot(0.125,0.11;0.775x0.77)

In [45]:
# erasing outliers which are faulty entries

## top 10 oldest movies in given data
movie_metadata['Movie release date'].sort_values().head(10)

## since the the oldest movie is "Roundhay Garden Scene" aired in 1888 all movies before this date are faulty entries
movie_metadata[movie_metadata['Movie release date'] < "1888"]["Movie release date"] = "nan" 
movie_metadata[movie_metadata['Movie name'] == "Hunting Season"]

## number of movies with NAN as movie release date
movie_metadata[movie_metadata['Movie release date'].isnull()].shape


## count movies per decade
movie_metadata["decade"] = movie_metadata['Movie release date'].str.slice(0, 3) + "0"
movies_grouped_by_decade = movie_metadata.groupby("decade")["Wikipedia movie ID"].count()

# Look at TV Tropes dataset

Let's look at what useful information we can extract from the latent character personas dataset

In [46]:
tvtropes.describe()

                     Type                    Freebase character/actor map ID
count                 501                                                501
unique                 72                                                447
top     crazy_jealous_guy  {"char": "Captain Jack Sparrow", "movie": "Pir...
freq                   25                                                  5

In [47]:
tvtropes.head()

                      Type                    Freebase character/actor map ID
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...

In [48]:
ALREADY_RUN = True # so that we don't write the json file multiple times


if not ALREADY_RUN:
    col2 = tvtropes.rename(columns={'Freebase character/actor map ID': "JSON"})["JSON"]
    l = []
    for elem in col2:
        l.append(elem)

    def write_to_file():
        with open("data/tropes_col2.json", "w") as fp:
            fp.write("[\n")
            for elem in l:
                fp.write("%s,\n" % elem)
            fp.write("]")

In [49]:
tropes_col2 = pd.read_json("tropes_col2.json")
tropes_col2 # It works!

,char,movie,id,actor
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...
496,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,Jake,Silverado,/m/0k39jj,Kevin Costner

In [50]:
tvtropes = tvtropes.join(tropes_col2)
tvtropes.drop(["Freebase character/actor map ID"], axis=1, inplace=True)
tvtropes

,Type,char,movie,id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...,...
496,young_gun,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,young_gun,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,young_gun,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,young_gun,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,young_gun,Jake,Silverado,/m/0k39jj,Kevin Costner

Now that our dataframe contains clean columns, we can use it to advance our data story. Next step is to find the ethnicity of every actor, either through wikipedia or imdb.

On wikipedia, format is the following:
- https://en.wikipedia.org/wiki/{FirstName}_{LastName}
- example: https://en.wikipedia.org/wiki/Ricky_Nelson
  
The birth information is contained in an html table (tr (=table row) th (=table header) td (=table data)), more specifically in a td with "class=infobox-data"

Even better would be to use Wikidata instead of Wikipedia. But the URL isn't as obvious as that of Wikipedia. As an example, for the actor Ricky Nelson, the Wikidata URL is the following: https://www.wikidata.org/wiki/Q303207. 
Thankfully, in the wikipedia article, on the left part of the tools page under the Tools section there's a link to the Wikidata item. In HTML, the link is basically inside a "li" tag with "id=t-wikibase" and "class=mw-list-item" which contains an href (link).
On wikidata itself, the Citizenship info we care about is stored inside an "a" tag with title="Q30" and href="/wiki/Q30". This seems to be the case for all actors.

Unfortunately, on imdb, the URL aren't as clean. So for Ricky Nelson as well, the URL looks like this:
- https://www.imdb.com/name/nm0625699/

Which doesn't give us much to work with. We could set up a script that simply enters the actor name in the imdb search bar and select the top/best matching result in the "People" category.
To make it worse, imdb doesn't have a clearcut view of the actor's ethnicity. It only has a text description; there doesn't seem to be an easy way to do this automatically.

With the prior analysis in mind, we favor Wikipedia to extract ethnicity.

In [51]:
# If you get errors when running this cell, uncomment these 2 lines
# %pip install pywikibot
# %pip install "wikitextparser>=0.47.5"

import pywikibot
def country_scraper(actor_name: str) -> str:
    """
    Takes in actor name {firstName_lastName} and returns the queried country of origin.
    """
    site = pywikibot.Site("en", "wikipedia")
    page = pywikibot.Page(site, actor_name) 
    item = pywikibot.ItemPage.fromPage(page)
    json = item.toJSON()
    country_id = "Q" + str(json["claims"]["P27"][0]["mainsnak"]["datavalue"]["value"]["numeric-id"])
    site = pywikibot.Site("wikidata", "wikidata")
    repo = site.data_repository()
    item = pywikibot.ItemPage(repo, country_id)

    item_dict = item.get()
    country = item_dict["labels"]["en-gb"]
    return country

In [52]:
# Only set this to true if we want to redo the scraping procedure. It takes about 15minutes. We shouldn't need to do so.
SCRAPE = False

from collections import defaultdict

actors = tvtropes["actor"]
countries = defaultdict(set) # In case actor name appears multiple times
mishandled = 0

if SCRAPE:
    for i, actor in enumerate(actors):
        try:
            country = country_scraper(actor)
            countries[actor].add(country)
            print("Actor", i, ":", actor,"--- Country:", country)
        except:
            print("---------------------Issue handling actor---------------", actor)
            # For actors that were mishandled, make sure that we add them to the list still so that we can still easily augment our dataset with NA values
            countries[actor].add("NA")
            mishandled += 1

    print("In total, we mishandled", mishandled, "actors out of", len(countries), "unique actors")

In [53]:
if SCRAPE:
    countries2 = defaultdict(list) # can't dump to json with a dic of sets, so converting to lists instead
    for country in countries:
        countries2[country] = list(countries[country])

In [54]:
if SCRAPE:
    import json
    with open("actor_country.json", "w") as write_file:
        json.dump(countries2, write_file, indent=4)

As there aren't too many mishandled actors, we fill in the blanks manually.