# Importing movie data and first glimpsse

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# import data sets (column names are based on readme file of data set publisher)
character_metadata = pd.read_csv('./data/character.metadata.tsv', sep='\t', names=[
    'Wikipedia movie ID',
    'Freebase movie ID',
    'Movie release date',
    'Character name',
    'Actor date of birth',
    'Actor gender',
    'Actor height (in meters)',
    'Actor ethnicity (Freebase ID)',
    'Actor name',
    'Actor age at movie release',
    'Freebase character/actor map ID',
    'Freebase character ID',
    'Freebase actor ID',
])
movie_metadata = pd.read_csv('./data/movie.metadata.tsv', sep='\t', names=[
    'Wikipedia movie ID', 
    'Freebase movie ID',
    'Movie name',
    'Movie release date',
    'Movie box office revenue',
    'Movie runtime',
    'Movie languages (Freebase ID:name tuples)',
    'Movie countries (Freebase ID:name tuples)',
    'Movie genres (Freebase ID:name tuples)'
])
name_cluster = pd.read_csv('./data/name.clusters.txt', sep='\t', names=['Name', 'Freebase ID']) # maybe wrong column names?
plot_summaries = pd.read_csv('./data/plot_summaries.txt', sep='\t', names=['Wikipedia movie ID', 'Summary'])
tvtropes = pd.read_csv('./data/tvtropes.clusters.txt', sep='\t', names=['Type', 'Freebase character/actor map ID']) # maybe wrong column names?

# variableto be able to iterate over all data sets
data_sets = [
    {'name' : 'character_metadata', 'data' : character_metadata},
    {'name' : 'movie_metadata', 'data' : movie_metadata}, 
    {'name' : 'name_cluster', 'data' : name_cluster},
    {'name' : 'plot_summaries', 'data' : plot_summaries},
    {'name' : 'tvtropes_cluster', 'data' : tvtropes}
]

In [42]:
# first glimpse of each data set and soome basic stats
for data_set in data_sets:
    print('data set:', data_set['name'])
    print('shape:', data_set['data'].shape)
    print('first five rows:\n', data_set['data'].head())
    print('description:\n', data_set['data'].describe(include='all'))
    print('\n\n')

data set: character_metadata
shape: (450669, 13)
first five rows:
    Wikipedia movie ID Freebase movie ID Movie release date  \
0              975900         /m/03vyhn         2001-08-24
1              975900         /m/03vyhn         2001-08-24
2              975900         /m/03vyhn         2001-08-24
3              975900         /m/03vyhn         2001-08-24
4              975900         /m/03vyhn         2001-08-24

               Character name Actor date of birth Actor gender  \
0                    Akooshay          1958-08-26            F
1  Lieutenant Melanie Ballard          1974-08-15            F
2         Desolation Williams          1969-06-15            M
3          Sgt Jericho Butler          1967-09-12            M
4             Bashira Kincaid          1977-09-25            F

   Actor height (in meters) Actor ethnicity (Freebase ID)          Actor name  \
0                     1.620                           NaN      Wanda De Jesus
1                     1.780                    /m/044038p  Natasha Henstridge
2                     1.727                       /m/0x67            Ice Cube
3                     1.750                           NaN       Jason Statham
4                     1.650                           NaN         Clea DuVall

   Actor age at movie release Freebase character/actor map ID  \
0                        42.0                      /m/0bgchxw
1                        27.0                       /m/0jys3m
2                        32.0                       /m/0jys3g
3                        33.0                      /m/02vchl6
4                        23.0                      /m/02vbb3r

  Freebase character ID Freebase actor ID
0            /m/0bgcj3x        /m/03wcfv7
1            /m/0bgchn4         /m/0346l4
2            /m/0bgchn_        /m/01vw26l
3            /m/0bgchnq         /m/034hyc
4            /m/0bgchp9         /m/01y9xg
description:
         Wikipedia movie ID Freebase movie ID Movie release date  \
count         4.506690e+05            450669             440674
unique                 NaN             64330              18476
top                    NaN        /m/0cc8620               2008
freq                   NaN               115               5453
mean          1.396975e+07               NaN                NaN
std           1.079662e+07               NaN                NaN
min           3.300000e+02               NaN                NaN
25%           3.759292e+06               NaN                NaN
50%           1.189065e+07               NaN                NaN
75%           2.366501e+07               NaN                NaN
max           3.750192e+07               NaN                NaN

       Character name Actor date of birth Actor gender  \
count          192794              344524       405060
unique         126629               29494            2
top            Doctor          1908-05-30            M
freq              198                 791       270257
mean              NaN                 NaN          NaN
std               NaN                 NaN          NaN
min               NaN                 NaN          NaN
25%               NaN                 NaN          NaN
50%               NaN                 NaN          NaN
75%               NaN                 NaN          NaN
max               NaN                 NaN          NaN

        Actor height (in meters) Actor ethnicity (Freebase ID) Actor name  \
count              154824.000000                        106058     449441
unique                       NaN                           479     134078
top                          NaN                    /m/0dryh9k  Mel Blanc
freq                         NaN                         16351        791
mean                    1.788893                           NaN        NaN
std                     4.379940                           NaN        NaN
min                     0.610000                           NaN        NaN
25%                     1.676400                           NaN        NaN
50%                     1.750000                           NaN        NaN
75%                     1.830000                           NaN        NaN
max                   510.000000                           NaN        NaN

        Actor age at movie release Freebase character/actor map ID  \
count                292556.000000                          450669
unique                         NaN                          450669
top                            NaN                      /m/0bgchxw
freq                           NaN                               1
mean                     37.788523                             NaN
std                      20.587870                             NaN
min                   -7896.000000                             NaN
25%                      28.000000                             NaN
50%                      36.000000                             NaN
75%                      47.000000                             NaN
max                     103.000000                             NaN

       Freebase character ID Freebase actor ID
count                 192804            449854
unique                183435            135760
top               /m/0h577m2          /m/0c5vh
freq                     146               791
mean                     NaN               NaN
std                      NaN               NaN
min                      NaN               NaN
25%                      NaN               NaN
50%                      NaN               NaN
75%                      NaN               NaN
max                      NaN               NaN



data set: movie_metadata
shape: (81741, 9)
first five rows:
    Wikipedia movie ID Freebase movie ID  \
0              975900         /m/03vyhn
1             3196793         /m/08yl5d
2            28463795        /m/0crgdbh
3             9363483        /m/0285_cd
4              261236         /m/01mrr1

                                          Movie name Movie release date  \
0                                     Ghosts of Mars         2001-08-24
1  Getting Away with Murder: The JonBenét Ramsey ...         2000-02-16
2                                        Brun bitter               1988
3                                   White Of The Eye               1987
4                                  A Woman in Flames               1983

   Movie box office revenue  Movie runtime  \
0                14010832.0           98.0
1                       NaN           95.0
2                       NaN           83.0
3                       NaN          110.0
4                       NaN          106.0

  Movie languages (Freebase ID:name tuples)  \
0        {"/m/02h40lc": "English Language"}
1        {"/m/02h40lc": "English Language"}
2        {"/m/05f_3": "Norwegian Language"}
3        {"/m/02h40lc": "English Language"}
4         {"/m/04306rv": "German Language"}

   Movie countries (Freebase ID:name tuples)  \
0  {"/m/09c7w0": "United States of America"}
1  {"/m/09c7w0": "United States of America"}
2                     {"/m/05b4w": "Norway"}
3             {"/m/07ssc": "United Kingdom"}
4                    {"/m/0345h": "Germany"}

              Movie genres (Freebase ID:name tuples)
0  {"/m/01jfsb": "Thriller", "/m/06n90": "Science...
1  {"/m/02n4kr": "Mystery", "/m/03bxz7": "Biograp...
2  {"/m/0lsxr": "Crime Fiction", "/m/07s9rl0": "D...
3  {"/m/01jfsb": "Thriller", "/m/0glj9q": "Erotic...
4                            {"/m/07s9rl0": "Drama"}
description:
         Wikipedia movie ID Freebase movie ID           Movie name  \
count         8.174100e+04             81741                81741
unique                 NaN             81741                75478
top                    NaN         /m/03vyhn  Alice in Wonderland
freq                   NaN                 1                   17
mean          1.740784e+07               NaN                  NaN
std           1.098791e+07               NaN                  NaN
min           3.300000e+02               NaN                  NaN
25%           7.323695e+06               NaN                  NaN
50%           1.777899e+07               NaN                  NaN
75%           2.715573e+07               NaN                  NaN
max           3.750192e+07               NaN                  NaN

       Movie release date  Movie box office revenue  Movie runtime  \
count               74839              8.401000e+03   6.129100e+04
unique              20389                       NaN            NaN
top                  2006                       NaN            NaN
freq                 1011                       NaN            NaN
mean                  NaN              4.799363e+07   1.118192e+02
std                   NaN              1.121753e+08   4.360070e+03
min                   NaN              1.000000e+04   0.000000e+00
25%                   NaN              2.083193e+06   8.100000e+01
50%                   NaN              1.063969e+07   9.300000e+01
75%                   NaN              4.071696e+07   1.060000e+02
max                   NaN              2.782275e+09   1.079281e+06

       Movie languages (Freebase ID:name tuples)  \
count                                      81741
unique                                      1817
top           {"/m/02h40lc": "English Language"}
freq                                       33748
mean                                         NaN
std                                          NaN
min                                          NaN
25%                                          NaN
50%                                          NaN
75%                                          NaN
max                                          NaN

        Movie countries (Freebase ID:name tuples)  \
count                                       81741
unique                                       2124
top     {"/m/09c7w0": "United States of America"}
freq                                        30300
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

       Movie genres (Freebase ID:name tuples)
count                                   81741
unique                                  23817
top                   {"/m/07s9rl0": "Drama"}
freq                                     6851
mean                                      NaN
std                                       NaN
min                                       NaN
25%                                       NaN
50%                                       NaN
75%                                       NaN
max                                       NaN



data set: name_cluster
shape: (2666, 2)
first five rows:
             Name Freebase ID
0  Stuart Little   /m/0k3w9c
1  Stuart Little   /m/0k3wcx
2  Stuart Little   /m/0k3wbn
3       John Doe   /m/0jyg35
4       John Doe   /m/0k2_zn
description:
               Name Freebase ID
count         2666        2666
unique         970        2661
top     Daffy Duck  /m/0gcy23_
freq            42           2



data set: plot_summaries
shape: (42303, 2)
first five rows:
    Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...
description:
         Wikipedia movie ID                                            Summary
count         4.230300e+04                                              42303
unique                 NaN                                              42295
top                    NaN  A woman is thrown out of her home by her jealo...
freq                   NaN                                                  5
mean          1.497051e+07                                                NaN
std           1.111994e+07                                                NaN
min           3.300000e+02                                                NaN
25%           4.565802e+06                                                NaN
50%           1.284591e+07                                                NaN
75%           2.485168e+07                                                NaN
max           3.750192e+07                                                NaN



data set: tvtropes_cluster
shape: (501, 2)
first five rows:
                       Type                    Freebase character/actor map ID
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...
description:
                      Type                    Freebase character/actor map ID
count                 501                                                501
unique                 72                                                447
top     crazy_jealous_guy  {"char": "Captain Jack Sparrow", "movie": "Pir...
freq                   25                                                  5

# Pre-processsing

In [43]:
# standardizing release date columns so that is only showing the year (essential since many entries only reveal the year and some a complete date)
movie_metadata['Movie release date'] = movie_metadata['Movie release date'].str.slice(0, 4)

# NaNs values
print('percentage of NaNs in "Movie release date" column:', movie_metadata['Movie release date'].isna().sum()/movie_metadata['Movie release date'].size)
movie_metadata.head()

percentage of NaNs in "Movie release date" column: 0.08443743042047443

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

# Analysis of "Movie release date"

In [44]:
# basic stats about movie release year column
movie_metadata['Movie release date'].describe(include='all')

# visualise amount of movies per year
movie_metadata_release_date_analysis = movie_metadata.dropna(subset=['Movie release date']) # erase rows with NaNs
movie_metadata_release_date_analysis['Movie release date'] = movie_metadata_release_date_analysis['Movie release date'].astype(int) #essential for plotting
print('oldest movie(s) from:', movie_metadata_release_date_analysis['Movie release date'].min())
print('newest movie(s) from:', movie_metadata_release_date_analysis['Movie release date'].max())

boxplot_movies_over_time = movie_metadata_release_date_analysis.boxplot(column='Movie release date')
movies_per_year = movie_metadata_release_date_analysis.hist(column='Movie release date')
print('histogram', movies_per_year)
print('boxplot', boxplot_movies_over_time) #--> reveals faulty values due to existance of extreme outliers

C:\Users\sidla\AppData\Local\Temp\ipykernel_16932\65190948.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_release_date_analysis['Movie release date'] = movie_metadata_release_date_analysis['Movie release date'].astype(int) #essential for plotting

oldest movie(s) from: 1010
newest movie(s) from: 2016
histogram [[<AxesSubplot:title={'center':'Movie release date'}>]]
boxplot AxesSubplot(0.125,0.11;0.775x0.77)

In [51]:
# erasing outliers which are faulty entries

## top 10 oldest movies in given data
movie_metadata['Movie release date'].sort_values().head(10)

## since the the oldest movie is "Roundhay Garden Scene" aired in 1888 all movies before this date are faulty entries
movie_metadata[movie_metadata['Movie release date'] < "1888"]["Movie release date"] = "nan" #TODO make it work
movie_metadata[movie_metadata['Movie name'] == "Hunting Season"]

## number of movies with NAN as movie release date
movie_metadata[movie_metadata['Movie release date'].isnull()].shape

## due to high number of movies with unknown movie release years, websrape move release years from imdb
    ### TODO

## count movies per decade
movie_metadata["decade"] = movie_metadata['Movie release date'].str.slice(0, 3) + "0"
movies_grouped_by_decade = movie_metadata.groupby("decade")["Wikipedia movie ID"].count()
## TODO visualise movies per decade

C:\Users\sidla\AppData\Local\Temp\ipykernel_16932\3837626143.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata[movie_metadata['Movie release date'] < "1888"]["Movie release date"] = "nan" #TODO make it work

decade
1010        1
1880        2
1890      149
1900      193
1910     2669
1920     2883
1930     4800
1940     4466
1950     5723
1960     5875
1970     6716
1980     7397
1990     9469
2000    19268
2010     5228
Name: Wikipedia movie ID, dtype: int64

# Look at TV Tropes dataset

In [6]:
tvtropes.describe()

                     Type                    Freebase character/actor map ID
count                 501                                                501
unique                 72                                                447
top     crazy_jealous_guy  {"char": "Captain Jack Sparrow", "movie": "Pir...
freq                   25                                                  5

In [7]:
tvtropes.head()

                      Type                    Freebase character/actor map ID
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...

In [8]:
hmm = tvtropes.rename(columns={'Freebase character/actor map ID': "JSON"})["JSON"]
l = []
for elem in hmm:
    l.append(elem)

def write_to_file():
    with open("data/tropes_col2.json", "w") as fp:
        fp.write("[\n")
        for elem in l:
            fp.write("%s,\n" % elem)
        fp.write("]")

In [9]:
tropes_col2 = pd.read_json("tropes_col2.json")
tropes_col2 # It works!

,char,movie,id,actor
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...
496,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,Jake,Silverado,/m/0k39jj,Kevin Costner

In [10]:
tvtropes = tvtropes.join(tropes_col2)
tvtropes.drop(["Freebase character/actor map ID"], axis=1, inplace=True)
tvtropes

,Type,char,movie,id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader
...,...,...,...,...,...
496,young_gun,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton
497,young_gun,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson
498,young_gun,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West
499,young_gun,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez
500,young_gun,Jake,Silverado,/m/0k39jj,Kevin Costner

Now that our dataframe contains clean columns, we can use it to advance our data story. Next step is to find the ethnicity of every actor, either through wikipedia or imdb.

On wikipedia, format is the following:
- https://en.wikipedia.org/wiki/{FirstName}_{LastName}
- example: https://en.wikipedia.org/wiki/Ricky_Nelson
  
The birth information is contained in an html table (tr (=table row) th (=table header) td (=table data)), more specifically in a td with "class=infobox-data"

Even better would be to use Wikidata instead of Wikipedia. But the URL isn't as obvious as that of Wikipedia. As an example, for the actor Ricky Nelson, the Wikidata URL is the following: https://www.wikidata.org/wiki/Q303207. 
Thankfully, in the wikipedia article, on the left part of the tools page under the Tools section there's a link to the Wikidata item. In HTML, the link is basically inside a "li" tag with "id=t-wikibase" and "class=mw-list-item" which contains an href (link).
On wikidata itself, the Citizenship info we care about is stored inside an "a" tag with title="Q30" and href="/wiki/Q30". This seems to be the case for all actors.

Unfortunately, on imdb, the URL aren't as clean. So for Ricky Nelson as well, the URL looks like this:
- https://www.imdb.com/name/nm0625699/

Which doesn't give us much to work with. We could set up a script that simply enters the actor name in the imdb search bar and select the top/best matching result in the "People" category.
To make it worse, imdb doesn't have a clearcut view of the actor's ethnicity. It only has a text description; there doesn't seem to be an easy way to do this automatically.

With the prior analysis in mind, I vote to favor Wikipedia to extract ethnicity
Note: We mentioned ethnicity, but technically what we're finding is citizenship. This could lead us to mistakes, how do you think we should adapt?

In [11]:
# If you get errors when running this cell, uncomment these 2 lines
# %pip install pywikibot
# %pip install "wikitextparser>=0.47.5"

import pywikibot
def country_scraper(actor_name: str) -> str:
    """
    Takes in actor name {firstName_lastName} and returns the queried country of origin.
    """
    site = pywikibot.Site("en", "wikipedia")
    page = pywikibot.Page(site, actor_name) 
    item = pywikibot.ItemPage.fromPage(page)
    json = item.toJSON()
    country_id = "Q" + str(json["claims"]["P27"][0]["mainsnak"]["datavalue"]["value"]["numeric-id"])
    site = pywikibot.Site("wikidata", "wikidata")
    repo = site.data_repository()
    item = pywikibot.ItemPage(repo, country_id)

    item_dict = item.get()
    country = item_dict["labels"]["en-gb"]
    return country

In [12]:
# Only set this to true if we want to redo the scraping procedure. It takes about 15minutes. We shouldn't need to do so.
SCRAPE = False

from collections import defaultdict

actors = tvtropes["actor"]
countries = defaultdict(set) # In case actor name appears multiple times
mishandled = 0

if SCRAPE:
    for i, actor in enumerate(actors):
        try:
            country = country_scraper(actor)
            countries[actor].add(country)
            print("Actor", i, ":", actor,"--- Country:", country)
        except:
            print("---------------------Issue handling actor---------------", actor)
            # For actors that were mishandled, make sure that we add them to the list still so that we can still easily augment our dataset with NA values
            countries[actor].add("NA")
            mishandled += 1

    print("In total, we mishandled", mishandled, "actors out of", len(countries), "unique actors")

Actor 0 : Robin Williams --- Country: United States of America
---------------------Issue handling actor--------------- Michael McShane
Actor 2 : Ian McKellen --- Country: United Kingdom
Actor 3 : Edmund Gwenn --- Country: United Kingdom
Actor 4 : James Spader --- Country: United States of America
Actor 5 : Harrison Ford --- Country: United States of America
Actor 6 : Harrison Ford --- Country: United States of America
Actor 7 : Harrison Ford --- Country: United States of America
Actor 8 : Rachel Weisz --- Country: United Kingdom
Actor 9 : Shih Kien --- Country: People's Republic of China
Actor 10 : William Zabka --- Country: United States of America
Actor 11 : Zhang Ziyi --- Country: People's Republic of China
---------------------Issue handling actor--------------- Chia Hui Liu
Actor 13 : Carl Weathers --- Country: United States of America
Actor 14 : Mr. T --- Country: United States of America
---------------------Issue handling actor--------------- Lee Byung-Hun
Actor 16 : Clancy Brown --- Country: United States of America
Actor 17 : Hayden Christensen --- Country: Canada
---------------------Issue handling actor--------------- Jeremy Jordan
Actor 19 : Jesse Metcalfe --- Country: United States of America
Actor 20 : Kevin Zegers --- Country: Canada
Actor 21 : Ryan Reynolds --- Country: Canada
---------------------Issue handling actor--------------- Chris Klein
Actor 23 : Zac Efron --- Country: United States of America
Actor 24 : Peter Facinelli --- Country: United States of America
Actor 25 : Clint Eastwood --- Country: United States of America
Actor 26 : Clint Eastwood --- Country: United States of America
Actor 27 : John Hurt --- Country: United Kingdom
---------------------Issue handling actor--------------- The Rock
Actor 29 : Harrison Ford --- Country: United States of America
Actor 30 : Randall "Tex" Cobb --- Country: United States of America
Actor 31 : Robert De Niro --- Country: United States of America
Actor 32 : Gerard Butler --- Country: United Kingdom
Actor 33 : Nick Chinlund --- Country: United States of America
Actor 34 : Rutger Hauer --- Country: Kingdom of the Netherlands
Actor 35 : Alexis Dziena --- Country: United States of America
Actor 36 : Ivan Sergei --- Country: United States of America
---------------------Issue handling actor--------------- Chris Klein
Actor 38 : Anna Faris --- Country: United States of America
Actor 39 : Elizabeth Hurley --- Country: United Kingdom
Actor 40 : Desi Lydic --- Country: United States of America
Actor 41 : Christine Taylor --- Country: United States of America
Actor 42 : Rick Rossovich --- Country: United States of America
Actor 43 : Kristy Swanson --- Country: United States of America
Actor 44 : Dustin Milligan --- Country: Canada
Actor 45 : James Marsden --- Country: United States of America
Actor 46 : Cameron Diaz --- Country: United States of America
Actor 47 : Daryl Hannah --- Country: United States of America
Actor 48 : Johnny Depp --- Country: United States of America
Actor 49 : Kirsten Dunst --- Country: United States of America
Actor 50 : Margarita Levieva --- Country: Soviet Union
Actor 51 : Natalie Portman --- Country: United States of America
Actor 52 : Jeff Anderson --- Country: United States of America
Actor 53 : Jeff Anderson --- Country: United States of America
---------------------Issue handling actor--------------- Jason Lee
---------------------Issue handling actor--------------- Jason Lee
Actor 56 : Nick Frost --- Country: United Kingdom
Actor 57 : Ron Perlman --- Country: United States of America
Actor 58 : Bruce Boxleitner --- Country: United States of America
Actor 59 : Daniel Craig --- Country: United Kingdom
Actor 60 : Thomas F. Wilson --- Country: United States of America
Actor 61 : Zack Ward --- Country: Canada
Actor 62 : Teresa Palmer --- Country: Australia
Actor 63 : Robert De Niro --- Country: United States of America
Actor 64 : Daniel Craig --- Country: United Kingdom
Actor 65 : Robert De Niro --- Country: United States of America
Actor 66 : Hayden Christensen --- Country: Canada
Actor 67 : John Cusack --- Country: United States of America
Actor 68 : John Cusack --- Country: United States of America
Actor 69 : Leonardo DiCaprio --- Country: United States of America
Actor 70 : Brad Pitt --- Country: United States of America
Actor 71 : Seth Rogen --- Country: Canada
Actor 72 : Jake Gyllenhaal --- Country: United States of America
Actor 73 : Johnny Depp --- Country: United States of America
Actor 74 : Johnny Depp --- Country: United States of America
Actor 75 : Hugh Jackman --- Country: Australia
Actor 76 : Robert Downey Jr. --- Country: United States of America
Actor 77 : Tom Hiddleston --- Country: United Kingdom
Actor 78 : Ralph Fiennes --- Country: United Kingdom
Actor 79 : Daniel Day-Lewis --- Country: Ireland
Actor 80 : Heath Ledger --- Country: Australia
Actor 81 : Leo Fitzpatrick --- Country: United States of America
Actor 82 : Robert Downey Jr. --- Country: United States of America
Actor 83 : Stuart Townsend --- Country: Ireland
Actor 84 : Johnny Depp --- Country: United States of America
Actor 85 : Craig Bierko --- Country: United States of America
Actor 86 : Daniel Gillies --- Country: New Zealand
Actor 87 : Kathleen Turner --- Country: United States of America
Actor 88 : Cameron Diaz --- Country: United States of America
Actor 89 : Michelle Pfeiffer --- Country: United States of America
Actor 90 : Marilyn Monroe --- Country: United States of America
Actor 91 : Isabella Rossellini --- Country: Italy
Actor 92 : Diane Lane --- Country: United States of America
Actor 93 : Daniel Craig --- Country: United Kingdom
Actor 94 : Harrison Ford --- Country: United States of America
Actor 95 : Johnny Depp --- Country: United States of America
Actor 96 : Leonardo DiCaprio --- Country: United States of America
Actor 97 : Matthew Broderick --- Country: United States of America
Actor 98 : Zachary Levi --- Country: United States of America
Actor 99 : Anthony Hopkins --- Country: United States of America
Actor 100 : Jake Lloyd --- Country: United States of America
Actor 101 : Val Kilmer --- Country: United States of America
Actor 102 : Brigitte Auber --- Country: France
Actor 103 : Jason Statham --- Country: United Kingdom
Actor 104 : Hugo Weaving --- Country: United Kingdom
Actor 105 : Clive Owen --- Country: United Kingdom
Actor 106 : Robert De Niro --- Country: United States of America
Actor 107 : Ronny Cox --- Country: United States of America
Actor 108 : Tom Hollander --- Country: United Kingdom
Actor 109 : Tom Hollander --- Country: United Kingdom
Actor 110 : Christopher Walken --- Country: United States of America
Actor 111 : Paul Reiser --- Country: United States of America
Actor 112 : John Huston --- Country: United States of America
Actor 113 : Julian McMahon --- Country: Australia
Actor 114 : Michael Clarke Duncan --- Country: United States of America
Actor 115 : Christopher Lloyd --- Country: United States of America
Actor 116 : Dan O'Herlihy --- Country: Ireland
Actor 117 : Jeffrey Tambor --- Country: United States of America
Actor 118 : Lionel Barrymore --- Country: United States of America
Actor 119 : Roger Allam --- Country: United Kingdom
Actor 120 : John Lithgow --- Country: United States of America
Actor 121 : Tom Cruise --- Country: United States of America
---------------------Issue handling actor--------------- David Murray
---------------------Issue handling actor--------------- David Warner
Actor 124 : David Cross --- Country: United States of America
Actor 125 : Danny Huston --- Country: Italy
Actor 126 : Bruce Campbell --- Country: United States of America
Actor 127 : Tim Robbins --- Country: United States of America
Actor 128 : Ritchie Coster --- Country: United Kingdom
Actor 129 : Greg Kinnear --- Country: United States of America
---------------------Issue handling actor--------------- Kevin J. O'Connor
Actor 131 : Wayne Morris --- Country: United States of America
Actor 132 : Johnny Depp --- Country: United States of America
Actor 133 : Paul Reiser --- Country: United States of America
Actor 134 : Stephen Lang --- Country: United States of America
Actor 135 : Jeremy Davies --- Country: United States of America
Actor 136 : Robert De Niro --- Country: United States of America
Actor 137 : Rex Harrison --- Country: United Kingdom
Actor 138 : Laurence Olivier --- Country: United Kingdom
Actor 139 : Sam Neill --- Country: New Zealand
Actor 140 : Jeremy Irons --- Country: United Kingdom
Actor 141 : Kevin Kline --- Country: United States of America
Actor 142 : Tim Curry --- Country: United Kingdom
Actor 143 : Mark Wahlberg --- Country: United States of America
Actor 144 : Russell Crowe --- Country: New Zealand
Actor 145 : Al Pacino --- Country: United States of America
Actor 146 : Patrick Bergin --- Country: Ireland
Actor 147 : Robert De Niro --- Country: United States of America
Actor 148 : Joe Pesci --- Country: United States of America
Actor 149 : Peter Sarsgaard --- Country: United States of America
Actor 150 : Nick Nolte --- Country: United States of America
Actor 151 : Richard Roxburgh --- Country: Australia
Actor 152 : David Carradine --- Country: United States of America
Actor 153 : Fred Savage --- Country: United States of America
Actor 154 : Glenn Ford --- Country: Canada
---------------------Issue handling actor--------------- Takashi Matsuyama
Actor 156 : Frank Whaley --- Country: United States of America
Actor 157 : Oscar Isaac --- Country: Guatemala
Actor 158 : Ray Milland --- Country: United Kingdom
Actor 159 : Michael Douglas --- Country: United States of America
Actor 160 : Colin Firth --- Country: United Kingdom
Actor 161 : Tim Robbins --- Country: United States of America
Actor 162 : Denzel Washington --- Country: United States of America
Actor 163 : John Malkovich --- Country: United States of America
Actor 164 : Daniel Craig --- Country: United Kingdom
Actor 165 : Stuart Townsend --- Country: Ireland
Actor 166 : Viggo Mortensen --- Country: United States of America
Actor 167 : Hugh Jackman --- Country: Australia
Actor 168 : Anthony Hopkins --- Country: United States of America
Actor 169 : Forest Whitaker --- Country: United States of America
Actor 170 : Angus Macfadyen --- Country: Scotland
Actor 171 : Danny Huston --- Country: Italy
Actor 172 : Paul Gleason --- Country: United States of America
Actor 173 : Jeffrey Jones --- Country: United States of America
Actor 174 : Norman Lloyd --- Country: United States of America
---------------------Issue handling actor--------------- Larry Miller
Actor 176 : Denzel Washington --- Country: United States of America
Actor 177 : Richard Gere --- Country: United States of America
Actor 178 : Matt Damon --- Country: United States of America
Actor 179 : Orson Welles --- Country: United States of America
Actor 180 : Al Pacino --- Country: United States of America
Actor 181 : Samuel L. Jackson --- Country: United States of America
Actor 182 : Harvey Keitel --- Country: United States of America
Actor 183 : Alicia Silverstone --- Country: United States of America
Actor 184 : Rowan Atkinson --- Country: United Kingdom
Actor 185 : Russell Brand --- Country: United Kingdom
Actor 186 : Jesse Eisenberg --- Country: United States of America
Actor 187 : Adam Sandler --- Country: United States of America
Actor 188 : Adam Sandler --- Country: United States of America
Actor 189 : Adam Sandler --- Country: United States of America
Actor 190 : Crispin Glover --- Country: United States of America
Actor 191 : Jeff Daniels --- Country: United States of America
Actor 192 : Paige O'Hara --- Country: United States of America
Actor 193 : Ed Helms --- Country: United States of America
Actor 194 : R. Lee Ermey --- Country: United States of America
Actor 195 : Viggo Mortensen --- Country: United States of America
Actor 196 : Warren Oates --- Country: United States of America
Actor 197 : Clint Eastwood --- Country: United States of America
Actor 198 : Tom Berenger --- Country: United States of America
Actor 199 : Lee Marvin --- Country: United States of America
Actor 200 : Jean Harlow --- Country: United States of America
Actor 201 : Anna Faris --- Country: United States of America
Actor 202 : Anna Faris --- Country: United States of America
Actor 203 : Anna Faris --- Country: United States of America
Actor 204 : Marilyn Monroe --- Country: United States of America
Actor 205 : Mira Sorvino --- Country: United States of America
Actor 206 : Lisa Kudrow --- Country: United States of America
Actor 207 : Nicole Kidman --- Country: Australia
Actor 208 : Peter Hinwood --- Country: United Kingdom
Actor 209 : Desi Lydic --- Country: United States of America
Actor 210 : Jean Hagen --- Country: United States of America
Actor 211 : Jonathan Winters --- Country: United States of America
Actor 212 : Alex Karras --- Country: United States of America
Actor 213 : André the Giant --- Country: France
Actor 214 : Billy Bob Thornton --- Country: United States of America
Actor 215 : Billie Whitelaw --- Country: United Kingdom
Actor 216 : Pat Morita --- Country: United States of America
Actor 217 : Frank Oz --- Country: United States of America
Actor 218 : Ian McKellen --- Country: United Kingdom
Actor 219 : Patricia Hayes --- Country: United Kingdom
Actor 220 : Brian Blessed --- Country: United Kingdom
---------------------Issue handling actor--------------- Richard White
Actor 222 : Christopher Plummer --- Country: Canada
Actor 223 : Clint Eastwood --- Country: United States of America
Actor 224 : Ralph Fiennes --- Country: United Kingdom
Actor 225 : Kevin Peter Hall --- Country: United States of America
Actor 226 : Peter Cullen --- Country: Canada
---------------------Issue handling actor--------------- Junjie Qin
Actor 228 : Rufus Sewell --- Country: United Kingdom
Actor 229 : Joaquin Phoenix --- Country: United States of America
Actor 230 : Aidan Gillen --- Country: Ireland
Actor 231 : Luke Goss --- Country: United Kingdom
Actor 232 : Ben Kingsley --- Country: United Kingdom
---------------------Issue handling actor--------------- Trevor Thomas
Actor 234 : Chris Sarandon --- Country: United States of America
Actor 235 : Gene Wilder --- Country: United States of America
Actor 236 : Mel Gibson --- Country: United States of America
Actor 237 : Martin Short --- Country: Canada
Actor 238 : Charles Bronson --- Country: United States of America
Actor 239 : Tom Hanks --- Country: United States of America
Actor 240 : Russell Crowe --- Country: New Zealand
Actor 241 : Peter Weller --- Country: United States of America
Actor 242 : Liam Neeson --- Country: Ireland

ERROR: An error occurred for uri https://www.wikidata.org/w/api.php?ids=Q30&action=wbgetentities&maxlag=5&format=json
ERROR: Traceback (most recent call last):
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/pywikibot/data/api/_requests.py", line 679, in _http_request
    response = http.request(self.site, uri=uri,
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/pywikibot/comms/http.py", line 232, in request
    r = fetch(baseuri, headers=headers, **kwargs)
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/pywikibot/comms/http.py", line 393, in fetch
    callback(response)
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/pywikibot/comms/http.py", line 283, in error_handling_callback
    raise response from None
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/pywikibot/comms/http.py", line 384, in fetch
    response = session.request(method, uri,
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/requests/sessions.py", line 587, in request
    resp = self.send(prep, **send_kwargs)
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/requests/sessions.py", line 701, in send
    r = adapter.send(request, **kwargs)
  File "/Users/tchanee/Library/Python/3.9/lib/python/site-packages/requests/adapters.py", line 547, in send
    raise ConnectionError(err, request=request)
requests.exceptions.ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

WARNING: Waiting 5.0 seconds before retrying.

Actor 243 : John Wayne --- Country: United States of America
Actor 244 : Russell Crowe --- Country: New Zealand
Actor 245 : Russell Crowe --- Country: New Zealand
Actor 246 : Martin Sheen --- Country: United States of America
Actor 247 : Günter Lamprecht --- Country: Germany
Actor 248 : Naseeruddin Shah --- Country: India
Actor 249 : Elias Koteas --- Country: Canada
Actor 250 : Martin Sheen --- Country: United States of America
Actor 251 : Ken Watanabe --- Country: Japan
Actor 252 : Denzel Washington --- Country: United States of America
Actor 253 : Bruce Greenwood --- Country: Canada
Actor 254 : Nicholas Bell --- Country: United Kingdom
---------------------Issue handling actor--------------- John Lynch
Actor 256 : Christopher Eccleston --- Country: United Kingdom
Actor 257 : Heather Langenkamp --- Country: United States of America
Actor 258 : Neve Campbell --- Country: Canada
Actor 259 : Sigourney Weaver --- Country: United States of America
Actor 260 : Linda Hamilton --- Country: United States of America
Actor 261 : Jamie Lee Curtis --- Country: United States of America
Actor 262 : Amanda Righetti --- Country: United States of America
Actor 263 : Robert Downey Jr. --- Country: United States of America
Actor 264 : Kenneth Branagh --- Country: United Kingdom
Actor 265 : Kevin Kline --- Country: United States of America
Actor 266 : Tom Selleck --- Country: United States of America
Actor 267 : Jake Lloyd --- Country: United States of America
Actor 268 : Stephen Chow --- Country: People's Republic of China
Actor 269 : Morgan Freeman --- Country: United States of America
Actor 270 : Cary Grant --- Country: United States of America
Actor 271 : David Niven --- Country: United Kingdom
Actor 272 : Robert De Niro --- Country: United States of America
Actor 273 : Tony Curran --- Country: United Kingdom
Actor 274 : Leonardo DiCaprio --- Country: United States of America
Actor 275 : Robert De Niro --- Country: United States of America
Actor 276 : Sophia Bush --- Country: United States of America
Actor 277 : Michael Caine --- Country: United Kingdom
Actor 278 : Omri Katz --- Country: United States of America
Actor 279 : Cameron Diaz --- Country: United States of America
Actor 280 : Maggie Gyllenhaal --- Country: United States of America
Actor 281 : Schuyler Fisk --- Country: United States of America
Actor 282 : Edward Norton --- Country: United States of America
Actor 283 : Jeff Bridges --- Country: United States of America
Actor 284 : Walter Matthau --- Country: United States of America
Actor 285 : Clint Eastwood --- Country: United States of America
Actor 286 : Ed Asner --- Country: United States of America
Actor 287 : Peter Finch --- Country: United Kingdom
Actor 288 : Ted Knight --- Country: United States of America
Actor 289 : Humphrey Bogart --- Country: United States of America
Actor 290 : Humphrey Bogart --- Country: United States of America
Actor 291 : Humphrey Bogart --- Country: United States of America
Actor 292 : Humphrey Bogart --- Country: United States of America
Actor 293 : Robert Mitchum --- Country: United States of America
Actor 294 : Jack Nicholson --- Country: United States of America
Actor 295 : Bob Hoskins --- Country: United Kingdom
Actor 296 : Harrison Ford --- Country: United States of America
Actor 297 : Peta Wilson --- Country: Australia
Actor 298 : Daniel Craig --- Country: United Kingdom
Actor 299 : Mel Gibson --- Country: United States of America
Actor 300 : Clint Eastwood --- Country: United States of America
Actor 301 : Woody Harrelson --- Country: United States of America
Actor 302 : Christian Bale --- Country: United Kingdom
Actor 303 : David Carradine --- Country: United States of America
Actor 304 : Eddie Murphy --- Country: United States of America
Actor 305 : Martin Lawrence --- Country: United States of America
Actor 306 : Bruce Willis --- Country: United States of America
Actor 307 : Ryan O'Neal --- Country: United States of America
---------------------Issue handling actor--------------- Mike White
Actor 309 : Pierce Brosnan --- Country: Ireland
Actor 310 : Forest Whitaker --- Country: United States of America
Actor 311 : Bruce Willis --- Country: United States of America
Actor 312 : Bruce Willis --- Country: United States of America
---------------------Issue handling actor--------------- Chow Yun-Fat
Actor 314 : Billy Connolly --- Country: Scotland
Actor 315 : Matt Damon --- Country: United States of America
Actor 316 : Ben Kingsley --- Country: United Kingdom
Actor 317 : James McAvoy --- Country: Scotland
Actor 318 : Tom Cruise --- Country: United States of America
Actor 319 : Eric Christian Olsen --- Country: United States of America
Actor 320 : William Zabka --- Country: United States of America
---------------------Issue handling actor--------------- Richard White
Actor 322 : Anthony Michael Hall --- Country: United States of America
Actor 323 : Thomas F. Wilson --- Country: United States of America
---------------------Issue handling actor--------------- Lance Fenton
Actor 325 : Milo Ventimiglia --- Country: United States of America
Actor 326 : Peter Facinelli --- Country: United States of America
Actor 327 : Chris Carmack --- Country: United States of America
Actor 328 : Samantha Morton --- Country: United Kingdom
Actor 329 : Dakota Fanning --- Country: United States of America
Actor 330 : Anne Hathaway --- Country: United States of America
Actor 331 : Rick Moranis --- Country: Canada
Actor 332 : Kevin James --- Country: United States of America
Actor 333 : Simon Pegg --- Country: United Kingdom
Actor 334 : Simon Pegg --- Country: United Kingdom
Actor 335 : Ricky Gervais --- Country: United Kingdom
Actor 336 : Jack Black --- Country: United States of America
Actor 337 : John Cusack --- Country: United States of America
Actor 338 : Harrison Ford --- Country: United States of America
Actor 339 : Johnny Depp --- Country: United States of America
Actor 340 : Errol Flynn --- Country: United States of America
Actor 341 : Claude Rains --- Country: United Kingdom
---------------------Issue handling actor--------------- Sabu Dastagir
Actor 343 : Tom Hardy --- Country: United Kingdom
Actor 344 : Tony Curran --- Country: United Kingdom
Actor 345 : Matthew Broderick --- Country: United States of America
Actor 346 : Hugh Jackman --- Country: Australia
Actor 347 : Liam Neeson --- Country: Ireland
Actor 348 : Ewan McGregor --- Country: United Kingdom
Actor 349 : James Earl Jones --- Country: United States of America
Actor 350 : Mandy Patinkin --- Country: United States of America
Actor 351 : David Carradine --- Country: United States of America
Actor 352 : Tim Roth --- Country: United Kingdom
Actor 353 : Val Kilmer --- Country: United States of America
Actor 354 : Jet Li --- Country: Singapore
---------------------Issue handling actor--------------- Tony Leung Chiu Wai
Actor 356 : Viggo Mortensen --- Country: United States of America
Actor 357 : Wesley Snipes --- Country: United States of America
Actor 358 : Dolph Lundgren --- Country: Sweden
Actor 359 : Will Arnett --- Country: Canada
Actor 360 : Christian Bale --- Country: United Kingdom
Actor 361 : Lionel Barrymore --- Country: United States of America
Actor 362 : Jack Davenport --- Country: United Kingdom
Actor 363 : Matthew Broderick --- Country: United States of America
Actor 364 : Russell Crowe --- Country: New Zealand
Actor 365 : Tom Hiddleston --- Country: United Kingdom
Actor 366 : Brittany Murphy --- Country: United States of America
Actor 367 : Laura San Giacomo --- Country: United States of America
Actor 368 : Kirsten Dunst --- Country: United States of America
Actor 369 : Mary Elizabeth Mastrantonio --- Country: United States of America
Actor 370 : Lil Dagover --- Country: Germany
Actor 371 : Jeff Bridges --- Country: United States of America
Actor 372 : Garrett Hedlund --- Country: United States of America
Actor 373 : Justin Bartha --- Country: United States of America
Actor 374 : Matthew Broderick --- Country: United States of America
Actor 375 : David Krumholtz --- Country: United States of America
Actor 376 : Jean Hagen --- Country: United States of America
Actor 377 : Ashley Tisdale --- Country: United States of America
Actor 378 : Ashley Tisdale --- Country: United States of America
Actor 379 : Ashley Tisdale --- Country: United States of America
Actor 380 : Bette Davis --- Country: United States of America
Actor 381 : Gloria Swanson --- Country: United States of America
Actor 382 : Peter Stormare --- Country: United States of America
Actor 383 : Jude Law --- Country: United Kingdom
Actor 384 : Michael Madsen --- Country: United States of America
---------------------Issue handling actor--------------- Robert Shaw
Actor 386 : Javier Bardem --- Country: Spain
Actor 387 : Cillian Murphy --- Country: Ireland
Actor 388 : Tom Berenger --- Country: United States of America
Actor 389 : Chris Bauer --- Country: United States of America
Actor 390 : Ronald Lacey --- Country: United Kingdom
Actor 391 : Cary Grant --- Country: United States of America
Actor 392 : Everett McGill --- Country: United States of America
Actor 393 : Vinnie Jones --- Country: United Kingdom
---------------------Issue handling actor--------------- Kevin Gage
Actor 395 : Jack Palance --- Country: United States of America
Actor 396 : Tom Hollander --- Country: United Kingdom
Actor 397 : Henry Fonda --- Country: United States of America
Actor 398 : Christopher Lee --- Country: United Kingdom
Actor 399 : Benicio del Toro --- Country: Puerto Rico
Actor 400 : Clint Eastwood --- Country: United States of America
Actor 401 : Morgan Freeman --- Country: United States of America
Actor 402 : Paul Newman --- Country: United States of America
Actor 403 : Robert Redford --- Country: United States of America
Actor 404 : William Petersen --- Country: United States of America
Actor 405 : Owen Wilson --- Country: United States of America
Actor 406 : Mandy Patinkin --- Country: United States of America
Actor 407 : Ricardo Montalbán --- Country: Mexico
Actor 408 : Lee Van Cleef --- Country: United States of America
Actor 409 : Guy Pearce --- Country: Australia
Actor 410 : Charles Bronson --- Country: United States of America
Actor 411 : Arnold Schwarzenegger --- Country: Austria
Actor 412 : James Marsden --- Country: United States of America
Actor 413 : James Marsden --- Country: United States of America
Actor 414 : Jack Davenport --- Country: United Kingdom
Actor 415 : Keanu Reeves --- Country: Canada
Actor 416 : Ben Stiller --- Country: United States of America
Actor 417 : Joseph Fiennes --- Country: United Kingdom
Actor 418 : John Howard --- Country: Australia
Actor 419 : Steve Guttenberg --- Country: United States of America
Actor 420 : Sean Astin --- Country: United States of America
---------------------Issue handling actor--------------- Jason Lee
Actor 422 : Seth Rogen --- Country: Canada
Actor 423 : Seth Rogen --- Country: Canada
Actor 424 : Simon Pegg --- Country: United Kingdom
Actor 425 : Kal Penn --- Country: United States of America
Actor 426 : Kal Penn --- Country: United States of America
Actor 427 : Mira Sorvino --- Country: United States of America
Actor 428 : Lisa Kudrow --- Country: United States of America
Actor 429 : Bill Murray --- Country: United States of America
Actor 430 : Jack Black --- Country: United States of America
Actor 431 : Justin Bartha --- Country: United States of America
Actor 432 : Jason Mewes --- Country: United States of America
Actor 433 : Alex Winter --- Country: United States of America
Actor 434 : Keanu Reeves --- Country: Canada
Actor 435 : Sean Penn --- Country: United States of America
Actor 436 : Josh Peck --- Country: United States of America
Actor 437 : Kal Penn --- Country: United States of America
Actor 438 : John Cho --- Country: United States of America
Actor 439 : Seth Rogen --- Country: Canada
Actor 440 : Danny McBride --- Country: United States of America
Actor 441 : James Franco --- Country: United States of America
Actor 442 : Danny McBride --- Country: United States of America
Actor 443 : James Franco --- Country: United States of America
Actor 444 : Fran Kranz --- Country: United States of America
Actor 445 : David Wenham --- Country: Australia
Actor 446 : Ewan McGregor --- Country: United Kingdom
Actor 447 : Michael Caine --- Country: United Kingdom
Actor 448 : Rachel Hurd-Wood --- Country: United Kingdom
Actor 449 : Lennie James --- Country: United Kingdom
Actor 450 : Robbie Gee --- Country: United Kingdom
---------------------Issue handling actor--------------- Ade
Actor 452 : William H. Macy --- Country: United States of America
Actor 453 : John Travolta --- Country: United States of America
Actor 454 : Keanu Reeves --- Country: Canada
Actor 455 : Alex Winter --- Country: United States of America
Actor 456 : Sean Penn --- Country: United States of America
Actor 457 : Jon Heder --- Country: United States of America
Actor 458 : Jeff Bridges --- Country: United States of America
Actor 459 : Pauly Shore --- Country: United States of America
Actor 460 : Pauly Shore --- Country: United States of America
Actor 461 : Pauly Shore --- Country: United States of America
Actor 462 : Sam Bottoms --- Country: United States of America
Actor 463 : Kevin Kline --- Country: United States of America
Actor 464 : Ronny Cox --- Country: United States of America
Actor 465 : John Larch --- Country: United States of America
Actor 466 : Jason Robards --- Country: United States of America
Actor 467 : Cary Grant --- Country: United States of America
Actor 468 : Brandon Lee --- Country: United States of America
Actor 469 : Christian Bale --- Country: United Kingdom
Actor 470 : Tom Cruise --- Country: United States of America
Actor 471 : Mandy Patinkin --- Country: United States of America
Actor 472 : Dustin Hoffman --- Country: United States of America
Actor 473 : Robert De Niro --- Country: United States of America
Actor 474 : Ryan Gosling --- Country: Canada
Actor 475 : Harrison Ford --- Country: United States of America
Actor 476 : Johnny Depp --- Country: United States of America
Actor 477 : Brad Pitt --- Country: United States of America
Actor 478 : Tom Waits --- Country: United States of America
Actor 479 : Tom Hiddleston --- Country: United Kingdom
Actor 480 : Deborah Foreman --- Country: United States of America
Actor 481 : Alicia Silverstone --- Country: United States of America
Actor 482 : Mira Sorvino --- Country: United States of America
Actor 483 : Kristy Swanson --- Country: United States of America
Actor 484 : Reese Witherspoon --- Country: United States of America
Actor 485 : Busy Philipps --- Country: United States of America
Actor 486 : Ken Watanabe --- Country: Japan
Actor 487 : Danny Huston --- Country: Italy
Actor 488 : Adam Sandler --- Country: United States of America
---------------------Issue handling actor--------------- Tony Leung Chiu Wai
Actor 490 : Marlon Brando --- Country: United States of America
---------------------Issue handling actor--------------- Chow Yun-Fat
Actor 492 : Mickey Rourke --- Country: United States of America
Actor 493 : Peter O'Toole --- Country: Ireland
Actor 494 : Jim Carrey --- Country: United States of America
Actor 495 : Horst Buchholz --- Country: Germany
Actor 496 : Bill Paxton --- Country: United States of America
Actor 497 : Ricky Nelson --- Country: United States of America
Actor 498 : Shane West --- Country: United States of America
Actor 499 : Emilio Estevez --- Country: United States of America
Actor 500 : Kevin Costner --- Country: United States of America
In total, we mishandled 30 actors out of 350 unique actors

In [19]:
if SCRAPE:
    countries2 = defaultdict(list) # can't dump to json with a dic of sets, so converting to lists instead
    for country in countries:
        countries2[country] = list(countries[country])

In [20]:
if SCRAPE:
    import json
    with open("actor_country.json", "w") as write_file:
        json.dump(countries2, write_file, indent=4)

As there aren't too many mishandled actors, we will fill the blanks manually.